#container {
	
	position:absolute;
	border-style: solid;
	border-width: 1px;
	border-color: green;
	background-color:white;
	
	text-align:center;
	width:80%;
	left:10%;
}

div{
	position:relative;
	border-style: solid;
	border-width: 1px;
	border-color: green;
	
}

.curved{
	border-top-left-radius:15px 15px;
	border-bottom-left-radius:15px 15px;
	border-top-right-radius:15px 15px;
	border-bottom-right-radius:15px 15px;
	padding:5px;
	float:right;
}

body
{
	background-color:grey;
}